

  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    display: inline-block;

  }
  
  .nav-links li a {
    transition: all 0.3s ease 0s;
    
  }
  
  .nav-links li a:hover {
    color: white;
    
  }
  
